.movie-finder {
    font-family: sans-serif;
    min-height: 100vh;
    transition: background-color 0.3s ease;
  }
  .movie-finder.light-mode{
    background-color: black;
  }
  .movie-finder.dark-mode{
    background-color: white;
  }
  
  .movie-search input{
    padding: 5px;
    margin: 5px;
  }
  .movie-search button{
    padding: 5px;
    margin: 5px;
  }
  
  .movie-list{
    display: flex;
    flex-wrap: wrap;
  }
  .movie-item{
    margin: 10px;
  }
  
  .favorites{
    padding: 10px;
  }
  
  .favorite-list{
    display: flex;
    flex-wrap: wrap;
  }
  .favorite-item{
    margin: 10px;
  }
  .movie-details{
    padding: 10px;
  }

/* Light Mode Gradients */
.movie-finder.light-mode {
  background: linear-gradient(135deg, #e0eafc, #ffc2dc); /* Soft Blue Gradient */
}


/* Dark Mode Gradients */
.movie-finder.dark-mode {
  background: linear-gradient(135deg, #283048, #859398); /* Dark Gray/Blue Gradient */
}
